<main>
    <div class="flex-two">
            <app-table></app-table>
        <table class="fileTable">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Content</th>
            </tr>
            <tr>
                <th>slika</th>
                <th>png</th>
                <th>12.0kB</th>
                <th><button class="button">&#10003;</button></th>
            </tr>
        </table>
    </div>


    <button class="button">Add a new Entry</button>
</main>